<h1>EDIT USER</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :bio %>
  <%= f.button :submit %>
<% end %>

<div class="btn btn-default links">
  <%= link_to "Back to Users", users_path %>
</div>
<div class="btn btn-primary links">
  <%= link_to "Change Password", password_edit_user_path, id: "edit-profile" %>
</div>
