<h1>EDIT USER INFO</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :old_password %>
  <%= f.button :submit %>
<% end %>

<div class="btn btn-default links">
  <%= link_to "Back to Users", users_path %>
</div>
