<h1>CREATE NEW USER</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :bio %>
  <%= f.button :submit %>
<% end %>

<div class="btn btn-default links">
  <%= link_to "Back to Users", users_path %>
</div>
