<div class="col-sm-3 link aside">
  <h2><%= @user.name.upcase %></h2>
  <h4>Username:</h4>
  <p><%= @user.username %></p>
  <h4>Total Karma:</h4>
  <p><%= @user.karma %></p>
  <h4>Date Created</h4>
  <p><%= @user.created_at.strftime("%A, %b %d %Y at %-I:%M %p") %></p>
  <h4>User Bio</h4>
  <p><%= @user.bio %></p>
</div>
<div class="col-sm-9 link">
  <h2>LINKS</h2>
  <%= render partial: 'links/link', collection: @links %>
</div>

<div class="btn btn-default links">
  <%= link_to "Back to Home", root_path %>
</div>
<div class="btn btn-default links">
  <%= link_to "Back to Users", users_path %>
</div>
<div class="btn btn-default links">
  <%= link_to "Submit New Link", new_link_path %>
</div>
