<div class="col-sm-3 link aside">
  <h2><%= @user.name.upcase %></h2>
  <h4>Username:</h4>
  <p><%= @user.username %></p>
  <h4>Total Karma:</h4>
  <p><%= @user.karma %></p>
  <h4>Date Created</h4>
  <p><%= @user.created_at.strftime("%A, %b %d %Y at %-I:%M %p") %></p>
  <h4>User Bio</h4>
  <p><%= simple_format(@user.bio).html_safe %></p>
</div>
<div class="col-sm-9 link">
  <h2>SUBMITTED LINKS</h2>
  <%= render partial: 'links/link', collection: @submitted_links %>
  <div class="paginate">
    <%= paginate @submitted_links %>
  </div>
  <h2>VOTED LINKS</h2>
  <%= render partial: 'links/link', collection: @voted_links %>
  <div class="paginate">
    <%= paginate @voted_links %>
  </div>
  <h2>CLICKED LINKS</h2>
  <%= render partial: 'links/link', collection: @clicked_links %>
  <div class="paginate">
    <%= paginate @clicked_links %>
  </div>
</div>

<div class="btn btn-default links">
  <%= link_to "Back to Home", root_path %>
</div>
<div class="btn btn-default links">
  <%= link_to "Back to Users", users_path %>
</div>
<div class="btn btn-default links">
  <%= link_to "Submit New Link", new_link_path %>
</div>
<% if current_user && current_user = @user %>
  <div class="btn btn-primary links">
    <%= link_to "Edit My Profile", edit_user_path(@user), id: "edit-profile" %>
  </div>
<% end %>
