<div class="col-xs-1 votes text-center">
  <%= link_to link_votes_path(link, :value => 1), :method => :post do %>
    <i id="upvote" class="glyphicon glyphicon-triangle-top"></i>
  <% end %>
  <p><%= link.karma %></p>
  <%= link_to link_votes_path(link, :value => -1), :method => :post do %>
    <i id="downvote" class="glyphicon glyphicon-triangle-bottom"></i>
  <% end %>
</div>
<div class="col-xs-11 link">
  <%= link_to link.title, link.url %>
  <p>submitted to sub: <%= link_to link.sub.name, sub_path(link.sub) %></p>
  <p><%= link.summary %></p>
</div>
