<div class="col-xs-1 votes">
  <%= link_to upvote_link_path(link, page: params[:page]) do %>
    <i id="upvote" class="glyphicon glyphicon-menu-up"></i>
  <% end %>
  <p><%= link.votes %></p>
  <%= link_to downvote_link_path(link, page: params[:page]) do %>
    <i id="downvote" class="glyphicon glyphicon-menu-down"></i>
  <% end %>
</div>
<div class="col-xs-11 link">
  <%= link_to link.title, link.url %>
  <p><%= link.summary %></p>
</div>
