<div class="col-xs-1 votes text-center">
  <%= render partial: 'links/vote_links', locals: { link: link } %>
</div>
<div class="col-xs-11 link">
  <%= link_to link.title, click_link_path(link) %>
  <p>
    <span class="dark">submitted to sub:</span>
    <%= link_to link.sub.name, sub_name_path(link.sub.name) %>
    <span class="dark">by: </span>
    <%= link_to link.user.name, user_name_path(link.user.username) %>
    <span class="dark">on: </span>
    <%= link.created_at.strftime("%A, %b %d %Y at %-I:%M %p") %>&nbsp&nbsp&nbsp
    <ul class="list-inline">
      <li><%= link_to "Comments", link %></li>
      <li>Tags:</li>
      <%= render link.tags %>
    </ul>
  </p>
  <p><%= link.summary %></p>
</div>
