<h1>CREATE NEW LINK</h1>

<%= simple_form_for @link do |f| %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.input :summary %>
  <%= f.association :sub %>
  <%= f.button :submit %>
<% end %>

<div class="btn btn-default links">
  <%= link_to "Back to Home", root_path %>
</div>
