<h2>LINKS FOR TAG: <%= @tag.name.upcase %></h2>

<%= render @links %>

<div class="paginate">
  <%= paginate @links %>
</div>

<% if current_user %>
  <div class="btn btn-default links">
    <%= link_to "Submit a New Link", new_link_path %>
  </div>
<% end %>
<div class="btn btn-default links">
  <%= link_to "All Sub-Breddits", subs_path %>
</div>
