<!DOCTYPE html>
<html>
<head>
  <title>Breddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="jumbotron">
    <%= render partial: "shared/user_links" %>
    <div class="container">
      <div class="text-center">
        <h1>BREDDIT</h1>
        <h2>The Freshest Bread-Related Links</h2>
      </div>
    </div>
    <ul class="root-links links">
      <li><%= link_to "All Links", root_path %></li>
      <li><%= link_to "Sub-Breddits", subs_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
  </div>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="row main">
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          The Ironyard Copyright 2013. All Rights Reserved
        </div>
        <div class="col-xs-6">
          <nav>
            <ul class="list-inline text-right">
              <li><a href="#">Bread</a></li>
              <li><a href="#">Tastes</a></li>
              <li><a href="#">So</a></li>
              <li><a href="#">Good</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
